{% extends 'cat_shelter/base.html' %}

{% block content %}
      <img src="{{ cat.image }}" alt="{{ cat.name }}" style="width:400px">
      <p><h1>{{ cat.name }}</h1></p>
      <p>Age: {{ cat.age }}</p>
      <p>Color: {{ cat.color }}</p>
      <p>Fluffy?: 
      {% if cat.fluffy %}
        SO FLUFFY!
      {% else %}
        No
      {% endif %}</p>
      <p>{{ cat.desc|linebreaks }}</p>      
      <a class="btn btn-default" href="{% url 'cat_edit' pk=cat.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
{% endblock %}
