<html>
  <head>
    <title>Kitty Kastle</title>
  </head>
  <body>
    <div>
      <h1><a href="">Tara's Kitty Kastle!</a></h1>
    </div>

    {% for cat in mycats %}
      <div>
        <h2><a href="{%url 'cat_shelter.views.cat_detail' pk=cat.pk%}"> {{ cat.name }}</a></h2>
        <p>Age: {{ cat.age }}</p>
        <p>Fluffy: 
        {% if cat.fluffy %}
          Yep! 
        {% else %}
          Nope
        {% endif %}</p>
        <p>{{ cat.desc|linebreaks}}</p>
      </div>
    {% endfor %}

  </body>
</html>
